.energy {
    background-image: url('img/白色-26.png');
    width: 26px;
    height: 26px;
}

    .energy:hover {
        background-image: url('img/蓝色-26.png');
        width: 26px;
        height: 26px;
    }

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    /* opacity: .8; */
    opacity: 1;
}
    /* opacity: .8; */

    .close:hover,
    .close:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        /*opacity: .5;*/
        opacity: 1;
    }

.modal-header {
    background-color: #165082;
    color: #fff;
}

.layui-layer-title {
    background-color: #165082 !important;
    color: #fff !important;
}

.tile_mmmdiv {
    color: #000;
    height: 50px;
    width: 350px;
    background-color: #fff;
    clear: both;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display: none;
    cursor: pointer;
}

    .tile_mmmdiv .p1 {
        width: 88%;
        float: left;
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 34px;
        text-indent: 14px;
        font-size: 14px;
    }

    .tile_mmmdiv .p2 {
        width: 12%;
        float: left;
        font-size: 24px;
        color: #f00;
    }

        .tile_mmmdiv .p2 .btu {
            height: 25px;
            width: 25px;
            border: 1px solid #f00;
            background-color: #f00;
            color: #fff;
            margin-top: 13px;
            line-height: 25px;
            display: block;
            cursor: pointer;
            font-weight: 900;
        }

            .tile_mmmdiv .p2 .btu:hover {
                background-color: #e64e4e;
                color: #fff;
            }

a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.dwcdd {
    width: 99px;
    height: 28px;
    position: absolute;
    cursor: pointer;
}