<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>协议</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .header {
            text-align: center;
            font-size: 20px;
        }

        body {
            -webkit-font-smoothing: antialiased;
            color: #666;
        }

        b {
            /* text-indent: 32px; */
            display: inline-block;
            font-size: 15px;
            font-family: 宋体;
            margin-top: 5px;
            text-decoration: underline;
            line-height: 20px;
        }

        .conter {
            padding: 0 10px;
            height: 381px;
            padding: 10px;
            line-height: 20px;
            overflow-x: hidden;
            overflow-y: auto;
            margin-bottom: 25px;
        }

        span {
            font-family: 宋体;
        }

        .mg-top {
            margin-top: 10px;
            display: block;
        }

        .bold {
            text-decoration: underline;
            font-weight: bold;
            /* color: #000000; */
        }

        .protocol-button {
            text-align: center;
        }

        button {
            display: inline-block;
            width: 200px;
            vertical-align: middle;
            cursor: pointer;
            outline: none;
        }

            button:hover {
                text-decoration: underline;
            }

            button.left {
                height: 54px;
                line-height: 54px;
                color: #999;
                vertical-align: middle;
                margin-right: 30px;
                background: #e3e4e5;
                font-size: 16px;
                border: 0px;
            }

            button.right {
                margin: 0 auto;
                /* display: block; */
                height: 54px;
                color: #fff;
                background: #e22;
                border: 0;
                font-size: 16px;
                font-family: "Microsoft YaHei", "Hiragino Sans GB";
            }
    </style>
</head>

<body>

    <!-- 学信网授权 -->
    <div id="div1" style="display: none;">
        <div class='conter'>
            <h2 class='header'>学信网授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的学信网（学历学籍）信息，包括但不限于第三人身份信息、其所在院校信息、专业信息、入学时间、毕业时间、学籍状态、证书编号等在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。
                    本协议作为《用户服务协议》的补充协议，在其基础上作补充授权。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                <br>
                    (1) 您确认，在您转授权我们验证并获取第三人的学信网信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的学信网信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的身份信息、所在院校、专业信息、入学时间、毕业时间、学籍状态、证书编号等信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款 本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将学信网信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>

    <!-- 淘宝-支付宝 -->
    <div id="div2" style="display: none;">
        <div class='conter'>
            <h2 class='header'>电商网站（支付宝）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的电商网站（支付宝）信息，包括但不限于会员名、会员账号、绑定的支付宝信息、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。
                    如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                <br>
                    (1)您确认，在您转授权我们验证并获取第三人的电商（支付宝）信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的电商（支付宝）信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的会员账号、绑定的支付宝信息、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将支付宝信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
    <!-- 淘宝 -->
    <div id="div6" style="display: none;">
        <div class='conter'>
            <h2 class='header'>电商网站（淘宝）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的电商网站（淘宝）信息，包括但不限于会员名、会员账号、绑定的淘宝信息、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。
                    如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                <br>
                    (1)您确认，在您转授权我们验证并获取第三人的电商（淘宝）信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的电商（淘宝）信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的会员账号、绑定的淘宝信息、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将淘宝信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>


    <!-- 运营商 -->
    <div id="div3" style="display: none;">
        <div class='conter'>
            <h2 class='header'>运营商授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的运营商信息，包括但不限于第三人身份信息，是否实名认证、通话记录、手机账单等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。
                        如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                <br>
                    (1)您确认，在您转授权我们验证并获取第三人的手机运营商信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的手机运营商信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的用户身份信息、是否实名认证、通话记录、手机账单等信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将手机运营商信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>

    <!-- 央行征信授权协议 -->
    <div id="div4" style="display: none;">
        <div class='conter'>
            <h2 class='header'>央行征信授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的中国人民银行征信中心（央行征信）信息，包括但不限于第三人身份信息、其所持银行卡基本信息、所持银行使用情况信息（交易、消费、借贷、还款、逾期等），以及其在银行的信贷信息等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。
                    如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                <br>
                    (1)您确认，在您转授权我们验证并获取第三人的中国人民银行征信中心（央行征信）信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的中国人民银行征信中心（央行征信）信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的身份信息、其所持银行卡基本信息、所持银行使用情况信息（交易、消费、借贷、还款、逾期等），以及其在银行的信贷信息等。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将央行征信信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>


    <!-- 京东 -->
    <div id="div5" style="display: none;">
        <div class='conter'>
            <h2 class='header'>电商网站（京东）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的第三人的电商网站（京东）信息，包括但不限于会员名、会员账号、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。
                        如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取第三人的电商（京东）信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取第三人的电商（京东）信息后，<span class='bold'>我们有权查看并读取包括但不限于第三人的会员账号、历史交易记录、历史评价、消费金额、支付方式、消费习惯等信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将京东信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span> </div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>

    <!-- 公积金 -->
    <div id="div7" style="display: none;">
        <div class='conter'>
            <h2 class='header'>住房（公积金）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的住房公积金信息，包括但不限于姓名、身份证号码、公司名称、缴存状态、缴存详情等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取住房公积金信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取住房公积金信息后，<span class='bold'>我们有权查看并读取包括但不限于姓名、身份证号码、公司名称、缴存状态、缴存详情等信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将住房公积金信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>




    <!-- 社保 -->
    <div id="div8" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（社会保险）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的社会保险信息，包括但不限于姓名、身份证号码、公司名称、医疗投保、生育投保、缴存状态、缴存详情等信息在内的各类信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取社会保险信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取社会保险信息后，<span class='bold'>我们有权查看并读取包括但不限于姓名、身份证号码、公司名称、医疗投保、生育投保、缴存状态、缴存详情等信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将社会保险信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>

            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
    <!-- 行驶证 -->
    <div id="div9" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（行驶证）信息查询授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的违章信息，包括但不限于机动车所有人，发动机号，vin等信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取行驶证信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取行驶证信息后，<span class='bold'>我们有权查看并读取包括但不限于机动车所有人，发动机号，vin等信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将行驶证信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
    <!-- 出险 -->
    <div id="div10" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（出险）信息查询授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的违章信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取出险信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取出险信息后，<span class='bold'>我们有权查看并读取信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将出险信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
    <!-- 违章 -->
    <div id="div11" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（违章）查询授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的违章信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取违章查询信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取违章信息后，<span class='bold'>我们有权查看并读取信息。</span></span>
            </div>
            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将违章信息与第三方共享：</span></div>
            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
    <!-- 维保 -->
    <div id="div12" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（维修保养）信息查询授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您拟查询的违章信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取出险信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取出险信息后，<span class='bold'>我们有权查看并读取信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将出险信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>

    <!-- 多头借贷 -->
    <div id="div13" style="display: none;">
        <div class='conter'>
            <h2 class='header'>（贷款信息）授权协议</h2>
            <u class='mg-top'><b>如您点击【同意本协议】即视为您获得有效授权且可将该等授权转授权本网站，您确认获得有效的转授权我们查看您的贷款信息，并将视为已阅读并理解本协议的全部内容。</b></u>
            <u class='mg-top'><b>请您仔细阅读粗体字的标注，并确保被查询的第三人已明确知悉本协议的某些条款可能对其的权益具有或可能具有重大关系的条款，以及对本公司具有或可能具有免责或限制责任的条款。 如果您不同意本协议的任意内容，或者无法准确理解本网站对条款的解释，或者未获得第三人的有效授权请不要进行后续操作。一旦您点击同意本协议或进行后续操作，或使用本网站的服务，均视为您同意本协议。</b></u>
            <div class='mg-top'>
                <span>一、授权条款
                    <br>
                    (1)您确认，在您转授权我们验证并获取贷款信息之前，您已充分阅读、理解并接受本协议的全部内容，一旦您使用本服务，即表示您同意并遵循本协议之所有约定。</span>
            </div>
            <div class='mg-top'>
                <span>(2)您同意，在您转授权我们验证并获取贷款信息后，<span class='bold'>我们有权查看并读取信息。</span></span>
            </div>

            <div class='mg-top'><span>二、保密条款本网站重视对用户隐私的保护，因收集第三人的信息是出于遵守国家法律法规的规定以及向您提供服务，本网站不会因商业目的而向他人提供您/第三人的任何信息，我们会在下列情况下才将贷款信息与第三方共享：</span></div>

            <div class='mg-top'><span>(1)获得信息主体的同意/授权/转授权；</span></div>
            <div class='mg-top'><span>(2)为了向您提供或推荐服务、产品、或为了向您提供更完善的服务，我们会在必要时向合作机构共享您的相关信息；</span></div>
            <div class='mg-top'><span>(3)在某些情况下只有共享您的信息才能向您提供您需要的服务或者产品，或处理您与他人的交易或者纠纷、争议；</span></div>
            <div class='mg-top'><span>(4)为了判断您的账户是否安全；</span></div>
            <div class='mg-top'><span>(5)为维护本网站及关联公司、第三方的合法权益；</span></div>
            <div class='mg-top'><span>(6)如您授权第三方向本网站查询、采集您账户相关信息，我们有权在法律法规和您的授权许可范围内向第三方分享您账户的部分信息。</span></div>
            <div class='mg-top'><span>(7)根据法律法规的规定或有关机关的要求。</span></div>
            <b class='mg-top' style='text-indent: 0; margin-bottom: 10px;'>三、用户义务及免责声明 您承诺，您所提供的第三人信息均为第三人有效授权您享有、获取、保存的第三人的真实信息，不得为虚假或非法获取的信息；若涉嫌虚假信息或盗用他人信息，本网站有权拒绝为您提供服务，由此而产生的全部法律责任将由您自行承担，本网站不对此承担任何法律责任，若因此对本网站带来损失的，本网站有权追究您的法律责任。</b>
        </div>
        <div class='protocol-button'>
            <button class='left' onclick="gauthorization()">取消</button>
            <button class='right' onclick="tauthorization()">同意并继续</button>
        </div>
    </div>
</body>

</html>

<script src="/js/jquery.js?v=1.1"></script>
<script src="/layer/layer.js"></script>

<script>
    $(function () {
        var type = getUrlParam("type");
        switch (type) {
            case "putongshuju":
                $("#div1").show();
                break;
            case "taobao":
                $("#div6").show();
                break;
            case "zhifubao":
                $("#div2").show();
                break;
            case "yunyingshang":
                $("#div3").show();
                break;
            case "yanhang":
                $("#div4").show();
                break;
            case "jingdong":
                $("#div5").show();
                break;
            case "gongjijin":
                $("#div7").show();
                break;
            case "shebao":
                $("#div8").show();
                break;
            case "xingshizheng":
                $("#div9").show();
                break;
            case "chuxian":
                $("#div10").show();

                break;
            case "weizhang":
                $("#div11").show();
                break;
            case "weibao":
                $("#div12").show();
                break;
            case "duotoujiedai":
                $("#div13").show();
                break;
        }


    });


    function gauthorization() {
        parent.gauthorization();
    }
    function tauthorization() {
        parent.tauthorization();
    }

</script>
